:root {
  --text: #e4e2ee;
  --background: #0f0d18;
  --primary: #a399ce;
  --secondary: #3f3377;
  --accent: #7968c6;
}

@keyframes caretBlink { /* EZ A TYPING TEXTHEZ */
  0% { border-color: transparent; }
  50% { border-color: var(--accent); }
  100% { border-color: transparent; }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}